# ~/.tmuxinator/{{ project_name }}.yml

name: {{ project_name }}
root: {{ project_path }}

pre_window: source {{ venv_path }}/bin/activate{% for key, value in django_env.iteritems() %}; export {{ key }}="{{ value }}"{% endfor %}

windows:
  - backend: ./manage.py runserver 0.0.0.0:8000
  - shell: cd .
